html, body {
  height: 100%;
}

.lodgement-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-body-container {
  position: absolute;
  top: 145px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.application-main-content {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.person-main-content {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.app-header-container > nav {
  margin-bottom: 0;
  border-bottom: none;

  > .container-fluid {
    background-color: #efefef;

    .navbar-brand {
      font-size: 1.5em;
    }
  }

  .icon-wrapper {
    padding-top: 9px;

    .glyphicon {
      font-size: 1.5em;
    }
  }
}

.main-component {
}

.app-tabs-container {
  .nav-pills-component {
    margin-top: 0;
  }
}

.app-toolbar-container {
  padding: 0;
}

.application-toolbar-component, .app-manager-toolbar-component {
  background-color: #337ab7;
  color: white;
  padding: 0;

  > .nav {
    margin: 5px 0 0 0;

    > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
      background-color: transparent !important;
      cursor: pointer;

      &:hover {
        color: orange;
      }

      &:active {
        color: yellow;
      }

      > div {
        text-align: center;
      }
    }

    .glyphicon {
      font-size: 1.75em;
    }
  }
}

.navbar-nav > li > a {
  cursor: pointer;

}

.nav-pills-component {
  margin: 1px 0;
  background-color: #efefef;

  .glyphicon {
    margin-left: 1.5em;
  }

  li:not(:first-child) a {
    padding-right: 1.75em;
  }

  > li > a {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.person-component {
  > .nav-pills-component {
    margin-top: 0;
  }
}

.close-icon {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0.25em;
  right: 0.25em;
  font-size: 1.25em;

  &.active {
    color: white;
  }

  .glyphicon {
    margin: 0 !important;
  }
}

