html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.app-container {
  display: table;
  height: 100%;
  width: 100%;

  .app-header {
    display: table-row;

    > .container-fluid {
      background-color: #efefef;

      .navbar-brand {
        font-size: 1.5em;
      }
    }

    .icon-wrapper {
      padding-top: 9px;

      .glyphicon {
        font-size: 1.5em;
      }
    }
  }

  .app-content {
    display: table-row; /* height is dynamic, and will expand... */
    height: 100%; /* ...as content is added (won't scroll) */
    padding-top: 10px;
  }
}

.content-container {
  display: table;
  height: 100%;
  width: 100%;

  .content-header {
    display: table-row;

    &:first-child {
      background-color: #efefef;
    }

    .nav-pills.small {
      margin: 5px 0 1px 0;

      .glyphicon {
        margin-left: 1.5em;
      }

      li:not(:first-child) a {
        padding-right: 1.75em;
      }

      > li > a {
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .content-body {
    display: table-row; /* height is dynamic, and will expand... */
    height: 100%; /* ...as content is added (won't scroll) */
  }
}

.active .close-icon {
  color: white;
}

.close-icon {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0.25em;
  right: 0.25em;
  font-size: 1.25em;

  .glyphicon {
    margin: 0 !important;
  }
}

.app-toolbar {
  background-color: #337ab7;
  color: white;
  box-shadow: 0 8px 6px -6px #337ab7;
  padding: 0;
}

.application-toolbar {
  background-color: #337ab7;
  color: white;
  box-shadow: 0 8px 6px -6px #337ab7;
  padding: 0;

  > .nav {
    margin: 5px 0;

    .glyphicon {
      font-size: 1.75em;
    }
  }
}

.toolbar > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: transparent !important;

  &:hover {
    color: orange;
  }

  &:active {
    color: yellow;
  }

  > div {
    text-align: center;
  }
}

