$scrollbarWidth: 10px;

//region Top Level Components

html, body {
  height: 100%;
}

.lodgement-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 768px;
}

.lodgement-header-component {
  margin-bottom: 0;
  border-bottom: none;

  > .container-fluid {
    background-color: #efefef;

    .navbar-brand {
      font-size: 1.5em;
    }
  }

  .icon-wrapper {
    padding-top: 9px;

    .glyphicon {
      font-size: 1.5em;
    }
  }
}

.lodgement-tabs-component {
  .nav-pills-component {
    margin-top: 0;
  }
}

.lodgement-content-component {
  position: absolute;
  top: 143px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

//endregion

//region application components

.application-list-component {
  position: absolute;
  left: 0;
  right: $scrollbarWidth;
}

.application-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.show-error-list .application-content-component {
    width: 70%;
  }
}

.application-toolbar-component, .app-manager-toolbar-component {
  background-color: #337ab7;
  color: white;
  padding: 0;

  > .nav {
    margin: 5px 0 0 0;

    > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
      background-color: transparent !important;
      cursor: pointer;

      &:hover {
        color: orange;
      }

      &:active {
        color: yellow;
      }

      > div {
        text-align: center;
      }
    }

    .glyphicon {
      font-size: 1.75em;
    }
  }
}

.application-nav-component {
  margin-bottom: 0;
  border-bottom: none;
}

.application-tabs-component {
  padding: 0 1px;

  .nav-pills-component {
    margin-top: 0;
  }

  &.has-content {
    + .application-content-component {
      top: 77px;
    }

    ~ .application-errors-component {
      top: 77px;
    }
  }
}

.application-content-component {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  bottom: 0;
  font-size: 80%;
  overflow: auto;

  :first-child:last-child {
  }
}

.application-errors-component {
  position: absolute;
  top: 52px;
  bottom: 0;
  right: 0;
  width: 30%;

  .title-bar {
    background-color: #337ab7;
    padding: 3px 5px 1px 5px;
    color: white;
    text-align: right;

    a {
      color: inherit;
      :hover {
        cursor: pointer;
        color: orange;
      }
    }
  }

  .header {
    padding: 5px 21px 0 5px;
    font-weight: bold;
    background-color: #f8f8f8;

    .title {
      padding: 5px;
    }
  }

  .content {
    padding: 5px 5px 0 5px;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;

    .alert {
      margin-bottom: 7px;
      padding: 5px;
    }
  }

  .col-p35 {
    float: left;
    width: 35%;
  }

  .col-p65 {
    float: left;
    width: 65%;
  }
}

//endregion

//region person components

.person-component {
  padding-top: 1.5em;
}

//endregion

.application-main-content {
  position: absolute;
  top: 52px;
  left: 0;
  width: 70%;
  bottom: 0;
  overflow: auto;

  &:last-child {
    width: 100%;
  }
}

.person-main-content {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 1em;
}

.radio-container {
  padding-top: 3px;
  padding-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.person-component {
  > .nav-pills-component {
    margin-top: 0;
  }
}

.missing-value {
  input, select, .radio-container {
    background-color: lightblue;
  }
}

.close-icon {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0.25em;
  right: 0.25em;
  font-size: 1.25em;

  &.active {
    color: white;
  }

  .glyphicon {
    margin: 0 !important;
  }
}

.active .close-icon {
  .glyphicon {
    color: white;

    &:hover {
      color: orange;
    }
  }
}

@media (min-width: 992px) {
  .compact {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
      &:not(:last-child) {
        padding-right: 0;
      }
    }
  }
}

.grouper {
  position: relative;
  padding-left: 10px;

  &::before {
    content: "";
    position: absolute;
    border-left: 5px solid orangered;
    height: 93%;
    left: 0;
  }
}

.react-datepicker {
  font-size: 12px !important;
}

.checkbox-input-component {
  padding-top: 4px;
  margin-top: 20px;
  border-radius: 3px;

  label {
    vertical-align: middle;
  }
}

.date-input-component {
  > div {
    width: 100%;
  }
}

.nav-pills-component {
  margin: 1px 0;
  background-color: #efefef;

  .glyphicon {
    margin-left: 1.5em;
  }

  li:not(:first-child) a {
    padding-right: 1.75em;
  }

  > li > a {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.month-year-component {
  .month {
    width: 49%;
    margin-right: 2%;
    float: left;
  }

  .year {
    width: 49%;
    float: left;
  }
}

.row.small-gap {
  margin-top: 8px;
}

//region Bootstrap Override

/*stop navbar from collapsing*/

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-nav > li, .navbar-nav, .navbar-header {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
}

/*stop navbar from collapsing*/

.navbar-nav > li > a {
  cursor: pointer;
}

.form-group.form-group-sm {
  margin-bottom: 7px;

  &.checkbox-input-component {
    margin-bottom: 6px;
  }
}

a[tabindex] {
  cursor: pointer;
}

.form-group-sm {
  .form-control {
    padding: 2px 5px;
    height: 24px !important;
  }
}

.radio-inline {
  input[type=radio] {
    margin-top: 1px;
  }
}

.checkbox {
  input[type=checkbox] {
    margin-top: 1px;
  }

  > label.missing-value {
    background-color: lightblue;
  }
}

.has-error {
  input, select, .radio-container, &.checkbox {
    background-color: #ef9a9a;
  }

}

.telephone-component {
  .country-code {
    width: 20%;
    float: left;
  }

  .area-code {
    width: 20%;
    float: left;
    margin: 0 1%;
  }

  .phone-number {
    width: 58%;
    float: left;
  }
}

.address-component {
  .clearfix {
    > .form-group {
      float: left;
    }
  }

  .suburb {
    width: 29%;
  }
  .postcode {
    width: 29%;
    margin: 0 1%;
  }
  .country {
    width: 40%;
  }
}

//endregion