html, body {
  height: 100%; }

.lodgement-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 768px; }

.lodgement-header-component {
  margin-bottom: 0;
  border-bottom: none; }
  .lodgement-header-component > .container-fluid {
    background-color: #efefef; }
    .lodgement-header-component > .container-fluid .navbar-brand {
      font-size: 1.5em; }
  .lodgement-header-component .icon-wrapper {
    padding-top: 9px; }
    .lodgement-header-component .icon-wrapper .glyphicon {
      font-size: 1.5em; }

.lodgement-tabs-component .nav-pills-component {
  margin-top: 0; }

.lodgement-content-component {
  position: absolute;
  top: 143px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto; }

.application-list-component {
  position: absolute;
  left: 0;
  right: 10px; }

.application-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .application-component.show-error-list .application-content-component {
    width: 70%; }

.application-toolbar-component, .app-manager-toolbar-component {
  background-color: #337ab7;
  color: white;
  padding: 0; }
  .application-toolbar-component > .nav, .app-manager-toolbar-component > .nav {
    margin: 5px 0 0 0; }
    .application-toolbar-component > .nav > li > a, .app-manager-toolbar-component > .nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: white;
      background-color: transparent !important;
      cursor: pointer; }
      .application-toolbar-component > .nav > li > a:hover, .app-manager-toolbar-component > .nav > li > a:hover {
        color: orange; }
      .application-toolbar-component > .nav > li > a:active, .app-manager-toolbar-component > .nav > li > a:active {
        color: yellow; }
      .application-toolbar-component > .nav > li > a > div, .app-manager-toolbar-component > .nav > li > a > div {
        text-align: center; }
    .application-toolbar-component > .nav .glyphicon, .app-manager-toolbar-component > .nav .glyphicon {
      font-size: 1.75em; }
  .application-toolbar-component .modal, .app-manager-toolbar-component .modal {
    color: #333; }

.force-wrap {
  word-break: break-all; }

.application-nav-component {
  margin-bottom: 0;
  border-bottom: none; }

.application-tabs-component {
  padding: 0 1px; }
  .application-tabs-component .nav-pills-component {
    margin-top: 0; }
  .application-tabs-component.has-content + .application-content-component {
    top: 77px; }
  .application-tabs-component.has-content ~ .application-errors-component {
    top: 77px; }

.application-content-component {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  bottom: 0;
  font-size: 80%;
  overflow: auto; }

.application-errors-component {
  position: absolute;
  top: 52px;
  bottom: 0;
  right: 0;
  width: 30%; }
  .application-errors-component .title-bar {
    background-color: #337ab7;
    padding: 3px 5px 1px 5px;
    color: white;
    text-align: right; }
    .application-errors-component .title-bar a {
      color: inherit; }
      .application-errors-component .title-bar a :hover {
        cursor: pointer;
        color: orange; }
  .application-errors-component .header {
    padding: 5px 21px 0 5px;
    font-weight: bold;
    background-color: #f8f8f8; }
    .application-errors-component .header .title {
      padding: 5px; }
  .application-errors-component .content {
    padding: 5px 5px 0 5px;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll; }
    .application-errors-component .content .alert {
      margin-bottom: 7px;
      padding: 5px; }
  .application-errors-component .col-p35 {
    float: left;
    width: 35%; }
  .application-errors-component .col-p65 {
    float: left;
    width: 65%; }

.person-component, .company-component {
  padding-top: 1.5em; }

.application-main-content {
  position: absolute;
  top: 52px;
  left: 0;
  width: 70%;
  bottom: 0;
  overflow: auto; }
  .application-main-content:last-child {
    width: 100%; }

.person-main-content {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 1em; }

.radio-container {
  padding-top: 3px;
  padding-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.person-component > .nav-pills-component, company-component > .nav-pills-component {
  margin-top: 0; }

.missing-value input, .missing-value select, .missing-value .radio-container {
  background-color: lightblue; }

.close-icon {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0.25em;
  right: 0.25em;
  font-size: 1.25em; }
  .close-icon.active {
    color: white; }
  .close-icon .glyphicon {
    margin: 0 !important; }

.active .close-icon .glyphicon {
  color: white; }
  .active .close-icon .glyphicon:hover {
    color: orange; }

@media (min-width: 992px) {
  .compact .col-md-1:not(:last-child), .compact .col-md-2:not(:last-child), .compact .col-md-3:not(:last-child), .compact .col-md-4:not(:last-child), .compact .col-md-5:not(:last-child), .compact .col-md-6:not(:last-child) {
    padding-right: 0; } }
.grouper {
  position: relative;
  padding-left: 10px; }
  .grouper::before {
    content: "";
    position: absolute;
    border-left: 5px solid orangered;
    height: 93%;
    left: 0; }

.react-datepicker {
  font-size: 12px !important; }

.checkbox-input-component {
  padding-top: 4px;
  margin-top: 20px;
  border-radius: 3px; }
  .checkbox-input-component label {
    vertical-align: middle; }

.date-input-component > div {
  width: 100%; }

.nav-pills-component {
  margin: 1px 0;
  background-color: #efefef; }
  .nav-pills-component .glyphicon {
    margin-left: 1.5em; }
  .nav-pills-component li:not(:first-child) a {
    padding-right: 1.75em; }
  .nav-pills-component > li > a {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px; }

.month-year-component .month {
  width: 49%;
  margin-right: 2%;
  float: left; }
.month-year-component .year {
  width: 49%;
  float: left; }

.row.small-gap {
  margin-top: 8px; }

.person-current-employment-component .btn-warning {
  margin-top: 15px; }

/*stop navbar from collapsing*/
.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li, .navbar-nav, .navbar-header {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important; }

.navbar-right {
  float: right !important; }

/*stop navbar from collapsing*/
.navbar-nav > li > a {
  cursor: pointer; }

.form-group.form-group-sm {
  margin-bottom: 7px; }
  .form-group.form-group-sm.checkbox-input-component {
    margin-bottom: 6px; }

a[tabindex] {
  cursor: pointer; }

.form-group-sm .form-control, .form-group-sm .input-group-addon {
  padding: 2px 5px;
  height: 24px !important; }

.radio-inline input[type=radio] {
  margin-top: 1px; }

.checkbox input[type=checkbox] {
  margin-top: 1px; }
.checkbox > label.missing-value {
  background-color: lightblue; }

.has-error input, .has-error select, .has-error .radio-container, .has-error.checkbox {
  background-color: #ef9a9a; }

.telephone-component .country-code {
  width: 20%;
  float: left; }
.telephone-component .area-code {
  width: 20%;
  float: left;
  margin: 0 1%; }
.telephone-component .phone-number {
  width: 58%;
  float: left; }

.address-component .clearfix > .form-group {
  float: left; }
.address-component .suburb {
  width: 29%; }
.address-component .postcode {
  width: 29%;
  margin: 0 1%; }
.address-component .country {
  width: 40%; }

.compact .btn-sm.btn-primary.pull-right {
  width: 45px; }

.address-list-component {
  position: relative; }
  .address-list-component .overlay-panel {
    position: absolute;
    z-index: 100;
    background-color: #fefefe;
    border: 2px solid #dfdfdf;
    width: 250px;
    top: -10px;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.4); }
  .address-list-component .close-icon {
    position: static; }
  .address-list-component .list-group {
    margin-top: 20px;
    margin-bottom: 0; }

.modal-dialog-component .modal {
  display: block; }

.panel-component .panel-heading {
  padding: 7px; }
  .panel-component .panel-heading .panel-title {
    font-size: 125%; }
  .panel-component .panel-heading > * {
    float: left;
    margin-right: 10px; }
  .panel-component .panel-heading .glyphicon {
    font-size: 150%; }

.well .close-link {
  float: right;
  font-size: 150%;
  margin-top: -10px;
  margin-right: -10px; }

.ownership-list-component .form-group {
  margin: 0; }
.ownership-list-component .ownership-percentage-wrapper {
  width: 95px;
  margin-right: 10px; }

.remove-panel-component {
  padding: 1em 0; }

.item-index-component {
  font-size: 120%;
  font-weight: bold; }

/*# sourceMappingURL=site.css.map */
